
# Ambientes Virtuais
venv/
env/
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de Dados SQLite (Não versionar dados reais!)
*.db
*.sqlite3

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db
*.sh